.features {
  padding-top: 6rem;
  margin-bottom: 4rem;

  .card-columns {
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
  }

  .feature-item {
    margin-bottom: 3rem;
    border: 0;
    padding: 0 1.5rem;

    i {
      color: #777;
      display: block;
      margin: 1.5rem auto;
    }

    h4 {
      font-weight: 300;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      font-size: 0.9em;
      text-align: center;
      line-height: 2;
    }
  }
}