header.navbar {
  background-color: #fff;

  .navbar-brand {
    @include media-breakpoint-down(md) {
      text-align: center;
      display: block;
      width: 100%;
    }
    
    img {
      max-height: 100px;
    }
  }

  ul.navbar-nav {
    padding: 0;

    li.nav-item {
      padding: 0.7rem 0.5rem;

      a.nav-link {
        font-weight: 400;
        color: #676767;
        transition: all 150ms;

        &:hover {
          color: lighten(#676767, 30);
        }
      }
    }
  }
}