.terms-header {
  background: url(/images/home3.jpg) 50% no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 4rem;
}

.terms {
  margin-top: 3rem;
  margin-bottom: 7rem;

  .card {
    border: 0;
  }

  h2 {
    text-align: center;
  }
}